* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: outfit;
	src: url(/assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
	font-family: youngSerif;
	src: url(/assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

main {
	padding: 2rem;
	width: 75vw;
	margin: 0 auto;
}

main img {
	display: block;
	width: 100%;
	border-radius: 20px;
}

main h1 {
	font-family: youngSerif, Arial, Helvetica, sans-serif;
	margin: 30px 0;
	font-weight: 400;
}

main p {
	font-family: outfit, sans-serif;
	font-size: 16px;
}

main section {
	background-color: hsl(30, 18%, 87%);
	font-family: outfit, sans-serif;
	padding: 1.5rem;
	border-radius: 20px;
}

main section h2 {
	font-weight: 400;
	margin-bottom: 10px;
}

 section ul li{
	margin-bottom: 15px;
	padding-left: 20px;
}
